__pycache__/
*.pyc
*.bak
*.bak.*
last_price.json
widget.log
*.deb
*.buildinfo
*.changes
*.dsc
debian/.debhelper/
debian/gold-widget/
debian/files
debian/*.substvars
debian/*.log
debian/debhelper-build-stamp
